{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'error' %}
                    <div id="card-alert" class="card red lighten-5">
                        <div class="card-content red-text">
                            <p><strong>{{ message.message }}</strong></p>
                        </div>
                    </div>
                {% elif message.level_tag == 'success' %}
                    <div id="card-alert" class="card green lighten-5">
                        <div class="card-content green-text">
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <div class="section">
            <p class="caption">
                Welcome - <span style="color: purple">{{ data.username }}</span>.
            </p>
            <div class="divider"></div>
            <div id="table-datatables">
                <div class="row">
                    <div>
                        <h4 class="header">
                            Items List
                        </h4>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                        <thead>
                        <tr>
                            <th>S/L</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for each in items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ each.name }}</td>
                                <td>{% widthratio each.price 1 amount_mod %} {{ each.amount_sign }}</td>
                                <td>
                                    <a href="{% url 'items:ProductDetailsView' each.id %}"
                                       class="btn-floating waves-effect waves-light indigo"><i
                                            class="mdi-action-view-add"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
