{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'error' %}
                    <div id="card-alert" class="card red lighten-5">
                        <div class="card-content red-text">
                            <p><strong>{{ message.message }}</strong></p>
                        </div>
                    </div>
                {% elif message.level_tag == 'success' %}
                    <div id="card-alert" class="card green lighten-5">
                        <div class="card-content green-text">
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="container">
        <div class="section">
            <div id="table-datatables">
                <div class="row">
                    <div>
                        <h4 class="header">
                            {% if data.language == "Eng" %}
                                Product List
                            {% else %}
                                পণ্য লিস্ট
                            {% endif %}
                        </h4>
                    </div>
                    <div style="float: right">
                        <a href="{% url 'items:ProductCreateView' %}"
                           class="btn waves-effect waves-light light-green darken-4"><i
                                class="mdi-content-add left"></i>
                            {% if data.language == "Eng" %}
                                Add Product
                            {% else %}
                                পণ্য ফর্ম
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                        <thead>
                        <tr>
                            <th>S/L</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Size</th>
                            <th>Quantity Left</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for each in items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ each.name }}</td>
                                <td>{{ each.brand }}</td>
                                <td>{{ each.category.name }}</td>
                                <td>{{ each.size }}</td>
                                <td>{{ each.quantity_left }}</td>
                                <td>{{ each.price }}</td>
                                <td>
                                    <a href="{% url 'items:ProductDetailsView' each.id %}"
                                       class="btn-floating waves-effect waves-light indigo"><i
                                            class="mdi-action-view-list"></i></a>
                                    <a href="{% url 'items:ProductUpdateView' each.id %}"
                                       class="btn-floating waves-effect waves-light deep-orange"><i
                                            class="mdi-editor-mode-edit"></i></a>
                                    <a href="#" id="del_btn" name="{{ each.id }}"
                                       class="btn-floating waves-effect waves-light red"><i
                                            class="mdi-action-delete"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '#del_btn', function (event) {
            var url = "{% url 'items:ProductDeleteView' 123 %}";
            var id = $(this).attr('name');
            event.preventDefault();
            confirmMessage(url, id);
        });

        function confirmMessage(url, id) {
            swal({
                    title: "Delete Request",
                    text: "Are you sure want to delete ?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (!(isConfirm)) {
                        swal("Operation Cancelled", "...");
                    } else {
                        document.location.href = url.replace('123', id);
                    }
                });
        }
    </script>

{% endblock %}
